#dropdown-button{
    padding-left: 0;
    padding-right: 0;
}
.bold{
    font-weight: 600;
}
  

    .custom-modal {
      max-width: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%; 
  }
  .custom-tooltip {
    width: 10%;

  }