#post-modal {
  max-width: 700px;
}

#post-modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#show-post-modal {
  max-width: 700px;
}

#show-post-modal .modal-body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

#btn-feed {
  font-size: smaller !important;
}
