#profile-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#profile-modal .modal-content {
  max-height: 400px;
}

.modal-backdrop.show {
  opacity: 0.5;
}

#profile-modal .modal-body {
  overflow-x: hidden;
}
