#profile .modal-backdrop.show {
  opacity: 0.5;
}

#profile .modal-body {
  overflow-x: hidden;
}
#profile .profile-f {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#profile .profile-f > h2 {
  font-size: 1.2em;
  font-weight: 600;
}
#profile .profile-f > p {
  font-size: 0.9em;
  color: rgb(43, 43, 43);
}
#profile .btn-profile {
  font-size: 0.9em;
}
